<!-- ============================================================== -->
<!-- sidebar -->
<!-- ============================================================== -->
<div class="background pb-5">
  <div>
    <a href="index.html">
      <img style="color:white" src="./../../../../../assets/images/sidebar-logo.svg" alt="homepage" class="light-logo">
    </a>
  </div>
  <div>
    <div *ngFor="let menuitem of firstMenuItems" group="{{menuitem.state}}">

      <a class="p-2 w-100  sidebar-list" [routerLink]="[ menuitem.state]" *ngIf="menuitem.type === 'link'">
        <ng-container *ngIf="menuitem.icon === 'av_timer'">
          <mat-icon>{{ menuitem.icon }}</mat-icon>
        </ng-container>
        <ng-container *ngIf="menuitem.icon !== 'av_timer'">
          <img class="super-icon-size" src="{{menuitem.icon}}">
        </ng-container>
        <span class="ml-3 font-bold"><b class="item-color">{{ menuitem.name }}</b></span>
        <span fxFlex></span>
        <span class="label label-{{ badge.type }}" *ngFor="let badge of menuitem.badge">{{ badge.value }}</span>
      </a>
    </div>
  </div>

    <div>
      <ng-container
        *ngIf="(currentUserRole !== 'SuperAdmin') && (currentUserRole !== 'Admin') && (currentUserRole !== 'Patient') && currentUser.payToDay">
        <div class="pl-4 pt-3 pb-4 d-block">
          <h4 class="h4-color">Estados</h4>

          <div class="row mb-2">
            <div class="col-8 h4-color">
              <span>visible</span>
            </div>
            <div class="col-4">
              <mat-slide-toggle (change)="onVisibleChange($event)"></mat-slide-toggle>
            </div>
          </div>
          <div class="row mb-2">
            <div class="col-8 h4-color">
              <span>activar</span>
            </div>
            <div class="col-4">
              <mat-slide-toggle (change)="onActiveChange($event)"></mat-slide-toggle>

            </div>
          </div>
          <div class="row mb-2">
            <div class="col-8 h4-color">
              <span>activar alerta</span>
            </div>
            <div class="col-4">
              <mat-slide-toggle (change)="onAlarmChange($event)"></mat-slide-toggle>

            </div>
          </div>


          <!-- <div class="patients-queue">
            <button mat-raised-button class="mr-1 text-dark px-1 py-0 " color="primary" #btnActive (click)="active()"
              *ngIf="btnActiveShow">Active</button>
            <button mat-raised-button class="mr-1 text-dark px-1 py-0 " color="primary" #btnDesactive
              (click)="desactive()" *ngIf="btnDesactiveShow">Desactive</button>
            <button mat-raised-button class="mr-1 text-dark px-1 py-0 " color="primary" #btnActive
              (click)="publicMe()">Public</button>
            <button mat-raised-button class="mr-1 text-dark px-1 py-0 " color="primary" #btnDesactive
              (click)="privateMe()">Private</button>
            <button mat-raised-button class="mr-1 text-dark px-1 py-0 " color="primary" #alarmActiveButton
              (click)="alarmActive()" *ngIf="audioActivateShow">Alarm Activate</button>
            <button mat-raised-button class="mr-1 text-dark px-1 py-0 " color="primary" #alarmInactiveButton
              (click)="alarmInactive()" *ngIf="!audioActivateShow">Alarm Inactivate</button>
          </div> -->
        </div>
      </ng-container>
    </div>





  <div>
    <ng-container
      *ngIf="(currentUserRole !== 'SuperAdmin') && (currentUserRole !== 'Admin') && (currentUserRole !== 'Patient') && currentUser.payToDay">
     
      <div class="pl-4 pt-3 pb-4 d-block">

        <h4 class="h4-color">Pacientes en espera</h4>
        <div>
          <button  mat-raised-button
            class="mr-1 text-dark px-1 py-0 " *ngIf="waitingPatientsData && waitingPatientsData.length" (click)="nextAttetion()" style="background-color: white;">
            <img src="./../../../../../assets/images/P15.svg" style="height:32px" alt="start-call" />
            <span class="signate-pad" style="color:#047c7f">&nbsp;SIGUIENTE PACIENTE</span></button>
        </div>


        <div class="patients-queue">
          <ng-container *ngIf="waitingPatientsData && waitingPatientsData.length">
      
            <ng-container *ngFor="let patient of waitingPatientsData">
              <div>
                <!--img class="profile-image" [src]="initPatientAvatar(patient)" alt="patient-avatar" />-->
                 
                    {{patient.fullName}}-{{patient.dni}}
                  
                
              </div>
            </ng-container>
          </ng-container>
        </div>
      </div>
    </ng-container>
  </div>


  <div>
    <div *ngFor="let menuitem of secondMenuItems" group="{{menuitem.state}}">

      <a class="p-2 w-100  sidebar-list" [routerLink]="[ menuitem.state]" *ngIf="menuitem.type === 'link'">
        <ng-container *ngIf="menuitem.icon === 'av_timer'">
          <mat-icon>{{ menuitem.icon }}</mat-icon>
        </ng-container>
        <ng-container *ngIf="menuitem.icon !== 'av_timer'">
          <img class="super-icon-size" src="{{menuitem.icon}}">
        </ng-container>
        <span class="ml-3 font-bold"><b class="item-color">{{ menuitem.name }}</b></span>
        <span fxFlex></span>
        <span class="label label-{{ badge.type }}" *ngFor="let badge of menuitem.badge">{{ badge.value }}</span>
      </a>
    </div>
  </div>




</div>