/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/chartist/dist/chartist.css";
@import "../node_modules/intl-tel-input/build/css/intlTelInput.css";

@import  url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import '~ngx-videogular/fonts/videogular.css';
body {
  background: #456;
  font-family: 'Open Sans', sans-serif;
}
.opacity-50 {
  opacity: 0.5;
}

.cursor {
  cursor: pointer;
}
.mat-sort-header-container {
  display: flex;
  justify-content: center;
}

.color-check-in, .copy-invite-url {
  display: inline-block;
  margin: 0 4px;
  min-width: 94px;
  max-height: 80px;
  font-size: 15px;
  text-align: center;
  line-height: 44px;
  color: #fff;
  border-radius: 5px;
  border: 0;
  outline: none;
  vertical-align: top;
}
.border-radius-5 {
  border-radius: 5px;
}

.w-p-150 {
  width: 150px;
}
.w-p-180 {
  width: 180px;
}
.w-p-350 {
  width: 350px!important;
}

.border-p-red {
  border: 1px solid red!important;
}
.iti {
  width: 100% !important;
}

.profile-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}


.webcam-wrapper video {
  width: 100% !important;
  height: 350px;
}
.page-wrapper{
  height:100vh!important;
}
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #028083; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #478e8f;
}
.mat-drawer-inner-container {
  overflow-y: auto!important;
  overflow-x: hidden!important;
}
.w-p-287{
  width:287px;
}
.main-color{
  color: #005662;
}
.main-background{
  background-color: #005662!important;
}
.alert-background{
  background-color:#80bdc9;
}
.tbody-background{
  background-color:#00566273;
}
.ml-22{
  margin-left:22%!important;
}
.mat-table{    
  border-radius: 2rem 2rem 0 0;
  overflow:hidden !important;
}
.w-90{
  width:90%
}
.pl-6{
  padding-left:6%
}

table {
  border-collapse: collapse;
}

th {
  /* row border */
  border-bottom: 1px solid #005662;
}

td.mat-cell {
  /* row padding */
  padding: 10px 0;
  border: 1px solid #005662;
  text-align:center;
}

tr.mat-row {
  /* row border */
  border: 1px solid #005662;
}
.w-12{
  width:12%
}
.ml-80{
  margin-left:80%;
}
.w-14{
  width:14%
}
.w-1-5rem{
  width:1.5rem;
}
.mw-100{
  max-width: 100%;
}
.m-r-3{
  margin-right:3%!important;
}
.p-r-5{
  padding-right:5%!important;
}